@{
    ViewBag.Title = "IIT eResult Web Application";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p></p>

        </div>
    </section>
}
<h3>Following tools and technologies are used to develope this application:</h3>
<ol class="round">
    <li class="one">
        <h5>Microsoft Visual Studio 2012</h5>
    </li>
    <li class="two">
        <h5>ASP.NET MVC 4</h5>
    </li>
    <li class="three">
        <h5>Microsoft SQL Server 2008(R2)</h5>
    </li>


</ol>
